In [1]:
import numpy as np
import pandas as pd

In [2]:
data_entry = pd.read_csv('unclean/data_entry.csv')

In [3]:
data_entry

           Size    Type Branded Name Generic Name  part_no
0        200 mg  tablet          NaN    aciclovir        1
1        100 mg  tablet          NaN  allopurinol        2
2        300 mg  tablet          NaN  allopurinol        3
3   15 mg/60 ml   syrup    mucosolve     ambroxol        4
4   30 mg/60 ml   syrup    mucosolve     ambroxol        5
5  125 mg/60 ml   syrup      cisflem        carbo        6

In [4]:
data_entry_type = data_entry['Type'].str.capitalize()
data_entry_type

0    Tablet
1    Tablet
2    Tablet
3     Syrup
4     Syrup
5     Syrup
Name: Type, dtype: object

In [5]:
clean_type_values = data_entry_type.unique()
clean_type_values

array(['Tablet', 'Syrup'], dtype=object)

In [6]:
clean_type = pd.DataFrame(clean_type_values).rename(columns={0: 'Type'})
clean_type

     Type
0  Tablet
1   Syrup

In [7]:
clean_type.to_excel('clean/type.xlsx', sheet_name='type', index=0)