In [1]:
import numpy as np
import pandas as pd

In [2]:
data_entry = pd.read_csv('unclean/data_entry.csv')

In [3]:
data_entry

           Size    Type Branded Name Generic Name  part_no
0        200 mg  tablet          NaN    aciclovir        1
1        100 mg  tablet          NaN  allopurinol        2
2        300 mg  tablet          NaN  allopurinol        3
3   15 mg/60 ml   syrup    mucosolve     ambroxol        4
4   30 mg/60 ml   syrup    mucosolve     ambroxol        5
5  125 mg/60 ml   syrup      cisflem        carbo        6
6  125 mg/60 ml   syrup          NaN  Amoxicillin       13

In [4]:
### Create an excel sheet for the Product_Type ###

In [5]:
data_entry_type = data_entry['Type'].str.capitalize()
data_entry_type

0    Tablet
1    Tablet
2    Tablet
3     Syrup
4     Syrup
5     Syrup
6     Syrup
Name: Type, dtype: object

In [6]:
unique_type_values = data_entry_type.unique()
unique_type_values

array(['Tablet', 'Syrup'], dtype=object)

In [7]:
clean_type = pd.DataFrame(unique_type_values).rename(columns={0: 'Type'})
clean_type

     Type
0  Tablet
1   Syrup

In [8]:
# clean_type.to_excel('clean/type.xlsx', sheet_name='type', index=0)

In [9]:
### Create an excel sheet for the Product_Size ###

In [10]:
data_entry['Type'] = data_entry['Type'].str.capitalize()
# data_entry

In [11]:
data_entry_size = data_entry[['Size', 'Type']]
# data_entry_size

In [12]:
unique_size_group_by = data_entry_size.groupby(['Size','Type'])
unique_size_count = pd.DataFrame({'count': unique_size_group_by.size()}).reset_index()
unique_size = unique_size_count[['Size', 'Type']]
# unique_size

In [13]:
unique_size['Date Added'] = pd.to_datetime('today').strftime("%Y-%m-%d")
# unique_size_renamed = unique_size.rename(columns={'Size': 'Product Size'})
unique_size

           Size    Type  Date Added
0        100 mg  Tablet  2021-02-04
1  125 mg/60 ml   Syrup  2021-02-04
2   15 mg/60 ml   Syrup  2021-02-04
3        200 mg  Tablet  2021-02-04
4   30 mg/60 ml   Syrup  2021-02-04
5        300 mg  Tablet  2021-02-04

In [14]:
# unique_size.to_excel('clean/size.xlsx', sheet_name='size', index=0)

In [15]:
### Create an excel sheet for the Product_Name ###

In [16]:
data_entry['Generic Name'] = data_entry['Generic Name'].str.capitalize()
data_entry['Branded Name'] = data_entry['Branded Name'].str.capitalize()
data_entry_name = data_entry[['Generic Name', 'Branded Name']]
data_entry_name

  Generic Name Branded Name
0    Aciclovir          NaN
1  Allopurinol          NaN
2  Allopurinol          NaN
3     Ambroxol    Mucosolve
4     Ambroxol    Mucosolve
5        Carbo      Cisflem
6  Amoxicillin          NaN

In [17]:
unique_name_group_by = data_entry_name.fillna(-1).groupby(['Generic Name','Branded Name'])
unique_name_count = pd.DataFrame({'count': unique_name_group_by.size()}).reset_index()
unique_name = unique_name_count[['Generic Name', 'Branded Name']]
unique_name = unique_name.replace(-1, '')
unique_name

  Generic Name Branded Name
0    Aciclovir
1  Allopurinol
2     Ambroxol    Mucosolve
3  Amoxicillin
4        Carbo      Cisflem

In [18]:
unique_name['Date Added'] = pd.to_datetime('today').strftime("%Y-%m-%d")
# unique_size_renamed = unique_size.rename(columns={'Size': 'Product Size'})
unique_name

  Generic Name Branded Name  Date Added
0    Aciclovir               2021-02-04
1  Allopurinol               2021-02-04
2     Ambroxol    Mucosolve  2021-02-04
3  Amoxicillin               2021-02-04
4        Carbo      Cisflem  2021-02-04

In [19]:
unique_name.to_excel('clean/name.xlsx', sheet_name='name', index=0)